<div class="container">
  <div class="container-inner inner-default clearfix">
    <% counter = 0 %>
    <% items.each do |item, rank| %>
      <% counter += 1 %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
              <%= image_tag(item.large_image , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% if ranking %>
            <span>【<%= counter %>位 : <%= rank %>人】</span>
            <% end %>
            <%= item.title %>
          </p>
        </div>
        <%= render 'items/action' , item: item if logged_in? %>
      </div>
    <% end %>
  </div>
</div>
